<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Exam App - Login</title>
  <link rel="stylesheet" href="/public/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="logo"></div>
    <nav>
      <ul class="nav-links">
        <li><a href="/adminlogin">Admin Login</a></li>
        <li><a href="/studentlogin">Student Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- <section class="welcome">
    <h1>Welcome to the Exam Management Portal</h1>
    
    
  </section> -->
</body>
</html>
